@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
.headerText::after {
  content: "";
  position: absolute;
  background-color: #eddfef;
  box-shadow: 0 0 8px #d8d0d9;
  height: 23px;
  left: 8px;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
